<div style="">
  <div class="footer">
    <div class="container text-center " style="padding-top: 8px; padding-bottom: 8px;" >
      <a href="/">
        <p style="color: white;">© ODT 2021</p>
      </a>
    </div>
  </div>
</div>
