<br>
<div class="container">
  <div class="jumbotron" style="background-color: white;">
    <div class="text-center">
      <img src="https://pbs.twimg.com/profile_images/1201996982224670725/n8DvaV61_400x400.jpg" alt="municipio-chepo" alt=""height="180">
      <br>
      <br>
      <h3>Sistema Integrado para el Registro de Información Catastral</h3>
      <h5>TIPOS DE FICHA</h5>
      <hr>
      <div class="row">
       <div class="col-md-4">
        <a href="/rurals">
          <div class="card-category" style="background-color: black;">
            <div style="padding-top: 40px;">
              <h1><i class="fas fa-mountain"></i></h1>
              <p>RURAL</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="/urbanos">
          <div class="card-category" style="background-color: black;">
            <div style="padding-top: 40px;">
              <h1><i class="fas fa-building"></i></h1>
              <p>URBANA</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="/especials">
          <div class="card-category" style="background-color: black;">
            <div style="padding-top: 40px;">
              <h1><i class="fas fa-star"></i></h1>
              <p>ESPECIAL</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <hr>
  </div>
</div>
</div>
