<br>

 <div class="container">
<div class="jumbotron" style="background-color: white;">
  <div class="container">
    <div class="text-center">
    <img src="https://pbs.twimg.com/profile_images/1201996982224670725/n8DvaV61_400x400.jpg" alt="municipiochepo" alt=""height="180">
    <br>
    <br>
    <h1><i class="fas fa-mountain"></i></h1>
    <h2 class="text-center">Ficha Catastral - Rural</h2>
    </div>
    <%= render 'form', rural: @rural %>

  </div>
</div>
</div>
<br>
<br>
